// main: main.scss
@import 'variables';

main section {
  margin-bottom: 3em;
}

/* ------ FINANCE LIFE STREAM ------ */
// COLUMN FLEX
main .finance-stream [class*=col-] {
  @include flex;
  flex-wrap: wrap;
  margin-bottom: 3em;
  justify-content: space-between;
  align-items: center;
}

main .finance-stream .balance,
main .finance-stream .funds,
main .finance-stream .payments {
  align-items: flex-start;
}

// .container-fluid {
// }

// ALIGNMENTS
.finance-stream-row {
  @include flex;
  flex-wrap: wrap;
  align-items: center;

  .buttons, .chart-toggle {
    @include flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.btn-primary:hover {
  background-color: rgba(0, 0, 0, 0.45);
}

.buttons h3, .chart-toggle h3 {
  font-size: 2em;
}

.balance, .funds, .payments {
  @include flex;
  flex-wrap: wrap;
  justify-content: space-between;

  h2.ammount {
    font-family: 'RobotoCondensedB';
    margin-right: 4px; //TODO: MEDIA QUERIES!
  }
}

// ALL BUTTONS VISUALS
div.bank, div.payment, div.switch {
  display: inline-block;
  font-weight: 300;
  width: 5.8em;
  border-radius: 4px;
  text-align: center;
  font-size: 1.6em;
  line-height: 1.6em;
  text-transform: uppercase;
  cursor: pointer;
}

.bank, .payment {
  padding: 8px 0 8px 0;
  margin-left: 0.2em;
  background-color: $head-bg-color;
}

.loans-row {
  margin-bottom: 3em;
}

.switch {
  background-color: #ffffff;
  padding: 2px 0;
  position: relative;

  h3 {
    display: inline-block;
    border-radius: 3px;
    font-size: 16px;
    padding: 8px;
    z-index: 10;
  }

  span.switcher {
    width: 2.4em;
    height: 2.1em;
    position: absolute;
    top: 2px; right: 2px;
    display: block;
    z-index: 0;
    border-radius: 4px;
    margin-left: 5px;
    padding: 8px 10px;
    background-color: $switch-on-color;
  }
}

/* ------ PRODUCTS AND HISTORY ------ */

.product-row {
  @include flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.product-wrapper h3 {
  margin-bottom: 8px;
}

.history-column h3 {
  margin-left: 10px;
  margin-bottom: 8px;
}



.product-wrapper {

  .product {
    height: 10em;
    margin-bottom: 1em;

    background-color: $item-bg-color;
    border-radius: 4px;
    @include flex;
    align-items: center;

    img, .description {
      margin-left: 1.4em;
      height: 3.8em;
      display: inline-block;
      position: relative;

    }
    .description {
      @include flex;
      justify-content: flex-start;
      flex-direction: column;
    }
  }

  .product.loans {
    background-color: $head-bg-color;
  }

  span.counter {
      width: 1.5em; height: 1.5em;
      position: absolute;
      top: 2.2em; left: 3.4em;
      padding-top: 4px;
      padding-left: 1px;
      border-radius: 50%;
      text-align: center;
      background-color: $counter-bg-color;
      color: #ffffff;
      font-family: 'RobotoCondensedB';
      font-size: 1.2em;
  }
}

nav.history {
  max-height: 40em;
  border-radius: 5px;
  border: 0;
  overflow-y: scroll;
  overflow-x: hidden;

  ul {
    list-style: none;
    margin-bottom: 0;

    li {
      background-color: $item-bg-color;
      margin-bottom: 1px;
      cursor: pointer;

      &:last-child {
        display: none;
      }
    }
  }
}

// transaction history items
nav.history ul li {
  @include flex;
  flex-direction: row;
  align-items: center;
  padding: 1.2em 2.2em;

  h3 {
    line-height: 1.4em;
  }
  h3.ammount {
    margin-left: auto;
    font-family: 'RobotoCondensedB';
  }

  div.transaction {
    margin-left: 1.6em;
  }

  span.glyphicon {
    margin-left: 0.6em;
    color: $head-bg-color;
    cursor: pointer;
  }
}

#lineChart {
  max-height: 45em;
}
