// main: main.scss

// BOOTSTRAP COLLAPSE BREAKPOINT CHANGE
@media only screen and (max-width: 900px) {
    #navbar {
        position: absolute;
        top: 8.5em;
        width: 100%;
        background-color: $head-bg-color;
        z-index: 10;
    }
    .navbar-header {
        float: none;
    }
    .navbar-left, .navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display: block !important;
    }
}

// MEDIA BREAKPOINTS
@media only screen and (min-width: 768px){
  .nav {
    padding-right: 15px;
    padding-left: 15px;
  }
  // finance-stream section
  .balance, .funds, .payments {
    flex-direction: column;
  }
  .funds {
    margin-left: 2.5%;
    margin-right: -2.5%;
  }
  .row {
    .buttons, .chart-toggle {
      justify-content: flex-end;

      >h3{
        margin-right: 10%;
      }
    }
  }
}

@media only screen and (min-width: 900px) {
  header {
    padding: 0 2.5em;
  }

  nav.navbar {
    flex-direction: row;

    .navbar-collapse {
      margin-left: 8.3%;
    }
  }

  div.logout {
    position: absolute;
    right: 0;
  }

  #user-panel-nav li{
    width: $panel-icon-desktop;
    height: $panel-icon-desktop;
  }
  span#msg-counter {
    width: 1.2em; height: 1.2em;
    top: -4px; left: 15px;
    padding-top: 2px;
    font-size: 1.2em;
  }

  .product {
    margin-right: 1em;
  }
}

@media only screen and (max-width: 400px) {
  main {
    padding: 0 0em;
  }

  .user-panel {
    font-size: 10px;
    line-height: 1.6em;
  }
  #user-panel-nav .user-panel-item{
    height: $panel-icon-mobile * 0.7;
    width: $panel-icon-mobile * 0.7;
  }
  span#msg-counter {
    width: 1.2em; height: 1.2em;
    top: -4px; left: 15px;
    padding-top: 0px;
    font-size: 1.2em;
  }

}
