@font-face { font-family: 'RobotoCondensed'; src: url("../fonts/RobotoCondensed-Regular.ttf"); }

@font-face { font-family: 'RobotoCondensedL'; src: url("../fonts/RobotoCondensed-Light.ttf"); }

@font-face { font-family: 'RobotoCondensedB'; src: url("../fonts/RobotoCondensed-Bold.ttf"); }

@keyframes rotate { 0% { transform: rotate(0); }
  100% { transform: rotate(360deg); } }

@keyframes scale { 0% { transform: scale(1); }
  100% { transform: scale(1.15); } }

/* ------ CSS RESET ------*/
html { box-sizing: border-box; }

* { margin: 0; padding: 0; }

*, *:before, *:after { box-sizing: inherit; }

body { font-family: 'RobotoCondensedL', verdana, times; font-size: 10px; font-weight: 600; line-height: 1.2em; margin: 0; padding: 0; background-color: #d9dada; }

main { padding: 0 2.5em; }

/* ------ GLOBAL STYLES ------ */
h1 { font-size: 3.8em; }

h2 { font-size: 2.0em; }

h3 { font-size: 1.4em; }

/* ------ BOOTSTRAP RESET ------ */
h1, h2, h3, h4, h5, h6 { margin-top: 0; margin-bottom: 0; }

div.row { margin-right: 0; margin-left: 0; }

[class*='col-'] { min-height: 0; padding: 0 0; }

.container-fluid { margin: 0; padding: 0; }

::-webkit-scrollbar-button { display: none; height: 13px; background-color: #AAA; }

::-webkit-scrollbar-button:hover { background-color: #AAA; }

::-webkit-scrollbar-thumb { background-color: #c9c9c9; border-radius: 4px; }

::-webkit-scrollbar-thumb:hover { background-color: #b8b8b8; }

::-webkit-scrollbar-track { background-color: transparent; border-radius: 4px; }

::-webkit-scrollbar-track:hover { background-color: 0, 0, 0, 0.2; border-radius: 4px; }

::-webkit-scrollbar { width: 8px; }

.invisible { display: none; }

@font-face { font-family: 'RobotoCondensed'; src: url("../fonts/RobotoCondensed-Regular.ttf"); }

@font-face { font-family: 'RobotoCondensedL'; src: url("../fonts/RobotoCondensed-Light.ttf"); }

@font-face { font-family: 'RobotoCondensedB'; src: url("../fonts/RobotoCondensed-Bold.ttf"); }

@keyframes rotate { 0% { transform: rotate(0); }
  100% { transform: rotate(360deg); } }

@keyframes scale { 0% { transform: scale(1); }
  100% { transform: scale(1.15); } }

@font-face { font-family: 'RobotoCondensed'; src: url("../fonts/RobotoCondensed-Regular.ttf"); }

@font-face { font-family: 'RobotoCondensedL'; src: url("../fonts/RobotoCondensed-Light.ttf"); }

@font-face { font-family: 'RobotoCondensedB'; src: url("../fonts/RobotoCondensed-Bold.ttf"); }

@keyframes rotate { 0% { transform: rotate(0); }
  100% { transform: rotate(360deg); } }

@keyframes scale { 0% { transform: scale(1); }
  100% { transform: scale(1.15); } }

/* ------------ HEADER ------------ */
header { width: 100%; min-height: 80px; background-color: #13bdd2; color: #ffffff; }

.navbar-header, nav.navbar { min-height: inherit; border: 0; }

nav.navbar { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: column; margin-bottom: 4em; }

.navbar-header { margin: 3px 3px; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; }

.navbar-header button.navbar-toggle { width: 56px; height: 56px; margin-left: auto; margin-right: 0; background-color: black; opacity: 0.45; }

.navbar-header button.navbar-toggle .icon-bar { height: 2px; width: auto; margin: 7px auto; display: block; background-color: #ffffff; }

div.logo, div.user-photo { min-height: inherit; border-radius: 4px; }

div.logo { border: 1px solid #4ecede; }

div.user-photo, div.user-panel { margin-left: 2px; }

a.navbar-brand, a.navbar-user { display: inline-block; max-width: 80px; }

img.logo, img.user { display: inline-block; width: 100%; height: auto; }

img.user { border-radius: 4px; }

div.user-panel { width: 160px; min-height: inherit; padding: 8px; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: column; justify-content: space-between; }

div.user-panel div.user-name { font-size: 2.1em; font-weight: 300; display: block; }

ul.user-panel-ul { list-style-type: none; }

ul.user-panel-ul li.user-panel-item { margin-bottom: -0.6em; float: left; width: 30px; height: 30px; background-size: cover; background-repeat: no-repeat; cursor: pointer; }

ul.user-panel-ul li.user-panel-item:first-child { background-image: url(../img/msg.png); background-size: cover; }

ul.user-panel-ul li.user-panel-item:last-child { background-image: url(../img/gear.png); background-size: cover; margin-left: 2em; }

ul.user-panel-ul li.user-panel-item:first-child:hover { animation-name: scale; animation-duration: 0.5s; animation-timing-function: ease-out; animation-iteration-count: 1; animation-fill-mode: forwards; }

ul.user-panel-ul li.user-panel-item:last-child:hover { animation-name: rotate; animation-duration: 1.5s; animation-timing-function: ease-in-out; animation-iteration-count: 1; animation-direction: alternate; }

.user-panel-item a { position: relative; display: block; color: #ffffff; text-decoration: none; }

span#msg-counter { width: 1.4em; height: 1.4em; position: absolute; top: -5px; left: 20px; padding-top: 4px; border-radius: 50%; text-align: center; background-color: #e81c7b; font-size: 1.4em; font-weight: 600; }

ul.nav { background-color: #13bdd2; }

ul.nav li { margin-left: 0; width: 80px; color: #ffffff; position: relative; }

ul.nav li a { height: 11.5em; color: #ffffff; border-radius: 0; padding: 0; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: column; align-items: center; justify-content: center; }

ul.nav li a:focus { background-color: transparent; }

ul.nav li a img { width: 40%; height: auto; }

ul.nav li a p { margin-top: 1.4em; font-size: 1.2em; text-transform: uppercase; }

/* ------ end of ul.nav ------ */
.nav > li > a:hover, .nav > li.active > a:hover { background-color: rgba(0, 0, 0, 0.45); }

.nav > li > a:visited, .nav > li.active > a:visited { background-color: rgba(0, 0, 0, 0.45); }

div.logout { height: 11.5em; margin-left: -1em; width: 80px; float: right; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; justify-content: space-between; }

div.logout img { height: inherit; width: auto; display: block; cursor: pointer; }

div.logout img:hover { transform: scale(1.15); }

div.logout img.search, div.logout img.poweroff { width: 40%; height: auto; }

div.logout img.separator { display: inline-block; height: 60%; width: auto; }

#lineChart { background-color: #ffffff; border-radius: 4px; }

@font-face { font-family: 'RobotoCondensed'; src: url("../fonts/RobotoCondensed-Regular.ttf"); }

@font-face { font-family: 'RobotoCondensedL'; src: url("../fonts/RobotoCondensed-Light.ttf"); }

@font-face { font-family: 'RobotoCondensedB'; src: url("../fonts/RobotoCondensed-Bold.ttf"); }

@keyframes rotate { 0% { transform: rotate(0); }
  100% { transform: rotate(360deg); } }

@keyframes scale { 0% { transform: scale(1); }
  100% { transform: scale(1.15); } }

main section { margin-bottom: 3em; }

/* ------ FINANCE LIFE STREAM ------ */
main .finance-stream [class*=col-] { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; margin-bottom: 3em; justify-content: space-between; align-items: center; }

main .finance-stream .balance, main .finance-stream .funds, main .finance-stream .payments { align-items: flex-start; }

.finance-stream-row { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; align-items: center; }

.finance-stream-row .buttons, .finance-stream-row .chart-toggle { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; flex-direction: row; align-items: center; justify-content: space-between; }

.btn-primary:hover { background-color: rgba(0, 0, 0, 0.45); }

.buttons h3, .chart-toggle h3 { font-size: 2em; }

.balance, .funds, .payments { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; justify-content: space-between; }

.balance h2.ammount, .funds h2.ammount, .payments h2.ammount { font-family: 'RobotoCondensedB'; margin-right: 4px; }

div.bank, div.payment, div.switch { display: inline-block; font-weight: 300; width: 5.8em; border-radius: 4px; text-align: center; font-size: 1.6em; line-height: 1.6em; text-transform: uppercase; cursor: pointer; }

.bank, .payment { padding: 8px 0 8px 0; margin-left: 0.2em; background-color: #13bdd2; }

.loans-row { margin-bottom: 3em; }

.switch { background-color: #ffffff; padding: 2px 0; position: relative; }

.switch h3 { display: inline-block; border-radius: 3px; font-size: 16px; padding: 8px; z-index: 10; }

.switch span.switcher { width: 2.4em; height: 2.1em; position: absolute; top: 2px; right: 2px; display: block; z-index: 0; border-radius: 4px; margin-left: 5px; padding: 8px 10px; background-color: #01cc01; }

/* ------ PRODUCTS AND HISTORY ------ */
.product-row { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-wrap: wrap; justify-content: flex-start; }

.product-wrapper h3 { margin-bottom: 8px; }

.history-column h3 { margin-left: 10px; margin-bottom: 8px; }

.product-wrapper .product { height: 10em; margin-bottom: 1em; background-color: #ffffff; border-radius: 4px; display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; align-items: center; }

.product-wrapper .product img, .product-wrapper .product .description { margin-left: 1.4em; height: 3.8em; display: inline-block; position: relative; }

.product-wrapper .product .description { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; justify-content: center; flex-direction: column; }

.product-wrapper .product.loans { background-color: #13bdd2; }

.product-wrapper span.counter { width: 1.5em; height: 1.5em; position: absolute; top: 2.2em; left: 3.4em; padding-top: 4px; padding-left: 1px; border-radius: 50%; text-align: center; background-color: #e81c7b; color: #ffffff; font-family: 'RobotoCondensedB'; font-size: 1.2em; }

nav.history { max-height: 40em; margin-left: 1em; border-radius: 5px; border: 0; overflow-y: scroll; overflow-x: hidden; }

nav.history ul { list-style: none; margin-bottom: 0; }

nav.history ul li { background-color: #ffffff; margin-bottom: 1px; cursor: pointer; }

nav.history ul li:last-child { display: none; }

nav.history ul li { display: -webkit-box; display: -ms-flexbox; display: -webkit-flex; display: flex; flex-direction: row; align-items: center; padding: 1.2em 2.2em; }

nav.history ul li h3 { line-height: 1.4em; }

nav.history ul li h3.ammount { margin-left: auto; font-family: 'RobotoCondensedB'; }

nav.history ul li div.transaction { margin-left: 1.6em; }

nav.history ul li span.glyphicon { margin-left: 0.6em; color: #13bdd2; cursor: pointer; }

@media only screen and (max-width: 900px) { #navbar { position: absolute; top: 8.5em; width: 100%; background-color: #13bdd2; z-index: 10; }
  .navbar-header { float: none; }
  .navbar-left, .navbar-right { float: none !important; }
  .navbar-toggle { display: block; }
  .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }
  .navbar-fixed-top { top: 0; border-width: 0 0 1px; }
  .navbar-collapse.collapse { display: none !important; }
  .navbar-nav { float: none !important; margin-top: 7.5px; }
  .navbar-nav > li { float: none; }
  .navbar-nav > li > a { padding-top: 10px; padding-bottom: 10px; }
  .collapse.in { display: block !important; } }

@media only screen and (min-width: 768px) { .nav { padding-right: 15px; padding-left: 15px; }
  .balance, .funds, .payments { flex-direction: column; }
  .funds { margin-left: 2.5%; margin-right: -2.5%; }
  .row .buttons, .row .chart-toggle { justify-content: flex-end; }
  .row .buttons > h3, .row .chart-toggle > h3 { margin-right: 10%; } }

@media only screen and (min-width: 900px) { header { padding: 0 2.5em; }
  nav.navbar { flex-direction: row; }
  nav.navbar .navbar-collapse { margin-left: 8.3%; }
  div.logout { position: absolute; right: 0; }
  #user-panel-nav li { width: 20px; height: 20px; }
  span#msg-counter { width: 1.2em; height: 1.2em; top: -4px; left: 15px; padding-top: 2px; font-size: 1.2em; }
  .product { margin-right: 1em; } }

@media only screen and (max-width: 400px) { main { padding: 0 0em; }
  .user-panel { font-size: 10px; line-height: 1.6em; }
  #user-panel-nav .user-panel-item { height: 21px; width: 21px; }
  span#msg-counter { width: 1.2em; height: 1.2em; top: -4px; left: 15px; padding-top: 0px; font-size: 1.2em; } }
